<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.im.dao.FriendDao">


    <select id="list" resultType="com.ruoyi.common.core.domain.entity.SysUser">
      select b.avatar,b.user_id,b.user_name from
friend  as `a`
JOIN sys_user as `b`
ON a.fid = b.user_id
where a.uid = #{id}
    </select>

    <insert id="add" parameterType="com.ruoyi.im.pojo.Friend">
insert into friend(uid,fid)
values(#{uid},#{fid})
</insert>

</mapper>
